header{
    display: flex;
    justify-content: center;
}
body{
    background-color: rgb(8 29 43);
    margin: 0;
    padding: 0;
}
main{
    background-image: url(./5591.jpg);
    background-size: cover;
}
header{
    background-color: rgb(8 29 43);
}
.contenedor-presentacion{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: aliceblue;
    margin: 20px;
}
.contenedor-presentacion p{
    max-width: 400px;
    text-align: center;
}
.imagen-yo {
    max-width: 397px; 
    margin-left: 70px;
}
.imagen-yo img {
    display: block;
    max-width: 100%;
    height: auto;
}
button{
    background-color: rgb(255, 255, 255);
}
.barra-navegación{
    display: flex;
    justify-content: space-around;
    padding: 20px;
    background-color: rgb(7 65 93);
}
.barra-navegación > * {
    border-bottom: 5px solid gray; 
    color: aliceblue;
    text-decoration: none;
    font-size: 20px;
    font-family: fantasy;
}
.tipos{
    display: flex;
    justify-content: space-evenly;
    gap: 30px;
    margin: 30px;
    flex-wrap: wrap;
}
#Conocimientos{
    text-align:center;
    align-items: center;
    color: rgb(0, 0, 0);
    font-size: 12px;
    padding-top: 50px;
}

#Conocimientos h1 {
    background-image: url(./pngwing.com.png);
    background-repeat: no-repeat;
    background-size: 350px;
    background-position: calc(40% + 10vw) center;
    padding: 25px;
    margin: 0;
}

#Proyectos{
    text-align:center;
    align-items: center;
    color: rgb(0, 0, 0);
    font-size: 12px;
    padding-top: 50px;
    padding-bottom: 30px;
}
#Proyectos h1{
    background-image: url(./pngwing.com.png);
    background-repeat: no-repeat;
    background-size: 350px;
    background-position: calc(40% + 10vw) center;
    padding: 25px;
    margin: 0;
}
#sobre-mi{
    text-align:center;
    align-items: center;
    color: rgb(0, 0, 0);
    font-size: 12px;
    color: aliceblue;
    padding-top: 50px;
}
#sobre-mi h1{
    background-image: url(./pngwing.com.png);
    background-repeat: no-repeat;
    background-size: 350px;
    background-position: calc(40% + 10vw) center;
    padding: 25px;
    color: black;
    margin: 0;
}
.autodesc{
    font-size: 20px;
}
.subcontenedores{
    border: solid rgb(207, 207, 207);
    color: aliceblue;
    width: 350px;
    height: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 5%;
    background-color: rgb(42 106 137);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}
.subcontenedores:hover{
    transform: scale(1.03);
    transition: transform 0.3s ease;
}
.subcontenedores img {
    margin-top: 30px;
}
.subcontenedores ol {
    margin-top: 50px;
} 
.subcontenedores p {
    line-height: 2.5;
    font-size: 15px;
} 
.iconos-redes .icono:hover i {
    transform: scale(1.1);
    transition: transform 0.3s ease;}
.lista-items li{
    margin-bottom: 15px;
    text-align: left;
}
.div-footer-general {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
}
.div-footer-general > * {
    margin-left: 100px;
}
.div-footer-info{
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
}
.div-footer{
    display: flex;
    flex-direction: column;
}
.contenido-div-footer{
    display: flex;
    flex-direction: column;
    text-decoration: none;
}
.contenido-div-footer > * {
    text-decoration: none;
    color: aliceblue;
    margin-bottom: 10px;
}
.titulo-div-footer{
    color: aliceblue;
    text-decoration: underline;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.iconos-redes a{
    align-items: center;
    font-size: 30px;
    margin: 10px;
    color: rgb(228, 10, 228);
}
.yo-footer{
    width: 170px;
}
.yo-footer img{
    width: 100%;
    height: auto;
    border-radius: 50%;
}
.div-footer2{
    text-align: center;
    color: aliceblue;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.div-footer2 p{
    margin-top: 0;
    padding: 0%;
    margin-bottom: 30px;
}
.iconos-redes{
    margin: 0px;
}
@media(max-width:768px){
    .tipos{
        flex-direction: column;
        align-items: center;
    }
    .div-footer-general{
        flex-direction: column;
    } 
    .div-footer-info{
        justify-content: center;
        flex-wrap: nowrap;
    }
}
@media(max-width:480px){
    .barra-navegación{
        flex-direction: column;
    }
    .tipos{
        flex-direction: column;
        align-items: center;
    }
    .div-footer-info{
        flex-direction: column;
    }
}
