.padre{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.Tarjetas{
    border: 1px solid gray;
    text-align: center;
    width: 300px;
    margin: auto;
    box-shadow: 20px 19px 17px -6px rgba(0,0,0,0.31);
-webkit-box-shadow: 20px 19px 17px -6px rgba(0,0,0,0.31);
-moz-box-shadow: 20px 19px 17px -6px rgba(0,0,0,0.31);
    padding: 15px;
    margin: 50px auto;
}
.div-2{
    text-align: left;
    font-family: 'Bebas Neue', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Raleway', sans-serif;
}
.titulo{
    text-align: center;
    color: brown;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-family: 'Bebas Neue', sans-serif;
}
.div-3{
    font-size: 50px;
    color: blue;
    font-weight: bold;
}
button:hover{background-color: rgb(94, 161, 17);}
.Tarjetas:hover{transform: scale(1.1);}

